<footer class="main-footer position-absolute mt-0 d-none d-lg-block">
    <div class="footer-left">
        Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
    </div>
    <div class="footer-right">2.3.0</div>
</footer>
</div>

</div>


<!-- General JS Scripts -->
<script src="assets/js/app.js"></script>
<script src="assets/js/vendor/socket.io.min.js"></script>
<script src="assets/js/stisla.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/page/chat.js"></script>
</body>

</html>