<ul class="sidebar-menu">
    <li class="nav-item active">
        <a href="javascript:void(0);" class="nav-link menu" data-link="log">
            <i class="ion-code-working"></i><span>Log</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link menu" data-link="jabbim">
            <i class="fas fa-fire"></i><span>Jabbim</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link menu" data-link="whatsapp">
            <i class="fab fa-whatsapp"></i><span>Whatsapp</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link menu" data-link="telegram">
            <i class="fab fa-telegram"></i><span>Telegram</span>
        </a>
    </li>
</ul>

<!-- {{$nama == 'telegram' ? 'active' : ''}} -->
